<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>

<body>
  <%= render 'shared/navbar' %>

  <div id="main_content" class="container">
    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    <div id="content" class="col-md-9 center-block">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
